/***********************************************************************************************************************
 * Summary - Additional properties
 ***********************************************************************************************************************
 * 1. Imports
 * 2. General layout
 **********************************************************************************************************************/

/* 1. Fonts
 ***************************************
 * Title font:   Lobster
 * Regular font: Montserrat
 */
@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* 2. General layout
 ***************************************
 * HTML, body, container dimensions
 * Fonts
 */
html,
body,
.container {
    height: 100%;
}

body {
    background: url("../../view/img/background.jpg") fixed center/cover #111;
}

* {
    color: #FFF;
    font-family: "Montserrat", "Trebuchet MS", sans-serif;
}

code {
    color: #EEE !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lobster", Arial, sans-serif;
}

img {
    float: left;
    height: auto;
    margin-right: 16px;
    width: 10%;
}

.font-lobster {
    font-family: "Lobster", Arial, sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", "Trebuchet MS", sans-serif;
}

input[name="pageSize"]:hover {
    cursor: text !important;
}

input[type="NUMBER"]::-webkit-inner-spin-button {
    display: none;
}

a,
.btn-block,
.slightly-transparent {
    transition: .5s !important;
}

select.minimal {
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

.slightly-transparent {
    opacity: .85;
}

.slightly-transparent:hover {
    opacity: 1;
}

.max-sized {
    text-align: left;
    word-break: break-word;
    min-width: 15% !important;
    max-width: 20% !important;
}

@media (max-width: 767px) {
    img {
        display: block;
        width: 100%;
    }

    table[name="responsiveTable"] tr th:nth-child(2),
    table[name="responsiveTable"] tr td:nth-child(2) {
        display: none
    }
}

@media (max-width: 1199px) {
    .slightly-transparent {
        opacity: .85;
    }
}

@media (max-width: 575px), (min-width: 576px) and (max-width: 767px) {
    .aligned-button {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .aligned-button {
        width: 30%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .aligned-button {
        width: 40%
    }
}

@media (min-width: 1200px) {
    .aligned-button {
        width: 20%
    }
}
